html, body {
  margin: 0;
  padding: 0;
  background-color: #696969;
}
nav {
    height: 80px;
    background-color: #696969;
}


nav ul {
  margin: 0 0 30px;
  padding-top: 30px;
  text-align: left;

}

nav a {
  text-decoration: none;
  color: white;
  margin: 15px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 5px;
  display: inline;
  -webkit-transition:color 0.25s;
  transition:color 0.25s;
}

nav a:hover {
  text-decoration: none;
  color: #31363d;
  cursor: pointer;
  -webkit-transition: color 1s;
  transition: color 1s;
}

#linkedin {
  float: right;
  margin-top: -55px;
  position: relative;
  padding-bottom: 5px;
  display: inline;
  -webkit-transition:color 0.25s;
  transition:color 0.25s;
}

.main h1 {
  position: relative;
  float: right;
  clear: both;
  margin-right: 50px;
  padding-top: 5px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.jumbotron {
  background: url("http://u.realgeeks.media/josephgroupatx/12_austin-skyline-sunset1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500em;
  height: 500px;
}
.img-circle {
  position: relative;
    float: right;
    clear: both;
    height: 250px;
    width: 250px;
    margin-top: 170px;
    margin-right: 50px;
    border: 1px solid black;
    border-radius: 100%;
}


@media (max-width: 500px) {
  .main h1 {
    font-size: 50px;
    padding: 0 40px;
  }

  .supporting .col {
    width: 100%;
  }
}
