html, body {
  background-color: #696969;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; 
}

header {
  background-position: center;
  height: 140px;
}

.vid {
  background-image: url("http://www.lifetimevideoproductions.com/cs/Satellite?blobcol=urlimagefile&blobheader=image%2Fpng&blobheadername1=Content-Disposition&blobheadervalue1=inline%3B+filename%3Dvideography-edmond-ok-lifetime-video-productions-hero.png&blobkey=id&blobtable=UXImage&blobwhere=1374449678038&ssbinary=true&moddate=2013-07-30%2008:53:33");
  background-position: center;
  height: 140px;
}

header h1 {
  text-align: left;
  position: relative;
  padding-bottom: 10px;
  text-transform: uppercase;
  top: 44px;
  color: white;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  font-size: 32px;
  margin: 0 auto;
  margin-left: 50px;
}

nav {
  margin-top: 20px;
}
nav ul {
  padding-top: 10px;
  margin: 0 0 30px;
  text-align: left;
}

nav a {

  text-decoration: none;
  color: white;
  margin: 15px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 5px;
  display: inline;
  -webkit-transition:color 0.25s;
  transition:color 0.25s;
}

nav li {
  color: white;
  margin: 15px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 5px;
  display: inline;
  -webkit-transition:color 0.25s;
  transition:color 0.25s;
}

nav a:hover {
  text-decoration: none;
  color: #31363d;
  cursor: pointer; 
  -webkit-transition: color 1s;
  transition: color 1s;
}

iframe {
  margin-left: 50px;
  margin-top: 50px;
}